.nav__menu {
    width: 23%;
}

.nav__menu ul {
    list-style-type: none;
}

.nav__menu__item {
    margin-top: 1rem;
}

.nav__menu__item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
}

.nav__menu__item a span {
    margin-left: 1rem;
}

@media screen and (max-width: 1023px){
    .nav__menu {
        display: none;
    }
}